
body {
	width: 90%;
	margin: 0 auto;
	background-image: url(/images/brick.jpg);
    background-size: 75%;
	font-family: 'Times New Roman', Times, serif;
}




.jumbotron {
	background-image: url("images/cement.jpg");

}


	#header {
	text-align: center;
	background-image: url("images/cement.jpg");
	
	}

	.link {
		color: black
	}
	

#content {
	overflow: auto;
	text-align: center;
	

}

#nav, #feature, #footer {
	margin: 1%;
	background-image: url("images/cement.jpg");
}
.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;
	background-image: url("images/cement.jpg");
}
.column3 {
	margin-right: 0%;
}

.image {
	 align: center;
}


li {
	display: inline;
	padding: 0.5em;

}
#nav, #footer {
	background-color: #efefef;
	padding: 0.5em 0;
}


#feature, .interest {
	height: 10em;
	margin-bottom: lem;
	background-color: #efefef;
}

 .project {
	height: 10em;
	margin-bottom: lem;
	background-color: #efefef;
}



.column4, .column5, .column, .column7, .column8, .column9 {
	width: 20%;
	float: left;
	margin: 1%;
	background-image: url("images/cement.jpg");
}

	
	 .project {
		height: 10em;
		margin-bottom: 2em;
		background-color: #efefef;
	 }